*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

header{
    
    width: 100%;
    min-height: 850px;
    left: 0px;
    top: 0px;

    transform: rotate(0deg);
    /* background-image: url("/img/Rectangle\ 464.png"); */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 71.06%, #000000 91.71%),url("../img/Rectangle\ 464.png");
    background-repeat: no-repeat;
    background-size: 110%;
}
.logo{
    padding-top: 25px;
    color: #ffff;
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;

}
.work-time{
    padding-top: 36px;
    padding-left: 37px;
    color: #ffffff;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

.red{
    color: #A92A1D;
}
.nav-bar{
    position: relative;
    margin: 0 auto;
    width: 1300px;
    display: flex;

}
.right-nav {
    padding-top: 36px;
    display: flex;
    align-items: center;
    padding-left: 361px;
}
  
.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-links a:hover {
    text-shadow: 0px 0px 20px #A92A1D;
    color: #A92A1D;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 63px;
    margin-right: 40px;
}

.red-button {
    background-color: #A92A1D;
    color: #FFFFFF;
    padding: 9px 24px;
    border: 0;
    font-size: 16px;
    font-weight: 100;
}

.red-button:hover {
    box-shadow: 0px 0px 10px #A92A1D;
    text-shadow: 0 0 20px #FFFFFF;
}

.red-button:active {
    background-color: #611a12;
}

.nav-menu{
    width: 0;
    overflow: hidden;
}

.main-header{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

.promo{
    padding-top: 336px;
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 73px;
    color: rgba(255, 255, 255, 0.75);
    display: flex;
}
.promo hr{
    width: 132px;
    border: 2px solid #A92A1D;
    max-height: 1px;
}
.promo-text{
    width: 460px;
    height: 219px;
    position: relative;
    top: -18px;
    left: 10px;
}
.promo-button{
    margin: 0 auto;
    width: 110px;
    height: 40px;
    background-color: #A92A1D;
    color: #ffff;
    border: 0px;
}
.promo-button:active {
    background-color: #611a12;
}
.promo-button:hover {
    box-shadow: 0px 0px 10px #A92A1D;
    text-shadow: 0 0 20px #FFFFFF;
}
.promo img{
    scale: 2;
    left: 140px;
    top: 230px;
}
.social-media-links {
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
    top: -350px;
    left: 1260px;
    align-items: center;
    width: 50px;
  }
.links {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.links img{
    width: 25px;
    height: 25px;
}
.scroll-to-main{
    position: relative;
    rotate: 90deg;
    left: 336px;
    background-color: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    /* border: 0px; */
}
.arrow_down{
    position: absolute;
    top: -5px;
    left: 80px;
    rotate: -90deg;
}
main{
    min-height: 3164px;
    background-color: #000000;
}
.prev_next{
    position: fixed;
    left: 90%;
    top: 75%;
    
    display: flex;
    flex-direction: column;
    
}
.next{
    rotate: 90deg;
}
.prev{
    rotate: 90deg;
}
.next-arrow{
    rotate: -90deg;
}
.prev-arrow{
    rotate: -90deg;
}
.scroll-up-down{
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    /* border: 0px; */
}

.popular-exercise{
    position: relative;
    color: #FFFFFF;
    width: 600px;
    height: 59px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;

    top: 155px;
    left: 450px;
}
.exercise-main-text{
    position: relative;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */
    text-align: center;
    letter-spacing: -0.05em;
    color: rgba(255, 255, 255, 0.75);
    width: 790px;
    height: 93px;
    top: 155px;
    left: 250px;
}
.first-exercises-text{
    position: relative;
    margin: 0 auto;
    width: 1300px;
}
.line-2{
    position: relative;
    top: 155px;
    left: 590px;
    max-width: 400px;
}
.many-pictures img{
    position: relative;
    display: block;
    margin: 0 auto;
    scale: 1;
    top: 300px;
}
.training{
    position: relative;
    margin: 0 auto;
    width: 1300px;
}
.ult_train{
    position: relative;
    top: 450px;
    
    width: 400px;
    height: 132px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    
    color: rgba(255, 255, 255, 0.75);
}
.ult_train_text{
    position: relative;
    top: 350px;

    width: 680px;
    height: 136px;
    left: 690px;
    

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.05em;

    color: rgba(255, 255, 255, 0.75);
}
.ult_train_text p{
    position: relative;
    top: -100px;
    left: 10px;
}
.gallery_pers_train{
    position: relative;
    margin: 0 auto;
    width: 1300px;
    top: 500px;
    left: -150px;
}
.pers_train{
    position: relative;
    width: 350px;
    height: 44px;
    left: 880px;
    top: -550px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.75);
}
.time_optimized{
    position: relative;
    width: 500px;
    height: 29px;
    left: 880px;
    top: -525px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    color: rgba(255, 255, 255, 0.75);
}
.some_text{
    position: relative;
    width: 650px;
    height: 136px;
    left: 880px;
    top: -500px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    letter-spacing: -0.05em;

    color: rgba(255, 255, 255, 0.75);
}
.gallery{
    max-height: 1200px;
}
.pic_one{
    position: relative;
    width: 514px;
    height: 369px;
    left: 935px;
    top: 0;    
}
.pic_two{
    position: relative;
    width: 500px;
    height: 503px;
    left: -670px;
    top: 580px;
}
.pic_three{
    position: relative;
    width: 500px;
    height: 492px;
    left: 400px;
    top: -100px;
}
.pic_four{
    position: relative;
    width: 500px;
    height: 503px;
    left: 950px;
    top: -550px;
}
.welcome_bottom{
    position: relative;
    width: 500px;
    height: 503px;
    left: 530px;
    top: -80px;
    width: 241px;
    height: 29px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: rgba(255, 255, 255, 0.75);
}
.text_bottom{
    position: relative;
    width: 388px;
    height: 93px;
    left: 450px;
    top: -70px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    /* or 144% */

    text-align: center;
    letter-spacing: -0.05em;

    color: rgba(255, 255, 255, 0.75);
}

.email_input{
    background-image: url(../img/Rectangle\ 486.png);
    min-height: 1050px;
    position: relative;
    width: 1300px;
    margin: 0 auto;
    left: -100px;
    background-repeat: no-repeat;
    
}
.subscribe_span{
    position: relative;
    width: 550px;
    height: 44px;
    left: 500px;
    top: 500px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */

    text-align: center;

    color: rgba(255, 255, 255, 0.75);
}
.sub_lorem{
    position: relative;
    width: 617px;
    height: 26px;
    left: 450px;
    top: 530px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    

    text-align: center;
    letter-spacing: -0.05em;

    color: rgba(255, 255, 255, 0.75);
}
.email_type{
    position: relative;
    width: 402px;
    height: 60px;
    left: 580px;
    top: 550px;

    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.75);
    
    text-align: center;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.email_submit{
    position: relative;
    width: 402px;
    height: 60px;
    left: 175px;
    top: 630px;

    color: #000000;

    background-color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.75);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}