*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
header{
    position: absolute;
width: 1600px;
height: 850px;
left: 0px;
top: 0px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 71.06%, #000000 91.71%);
transform: rotate(0deg);
}
.logo{
    color: #ffff;
    position: absolute;
width: 112px;
height: 54px;
left: 150px;
top: 25px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 54px;
}
.work-time{
    position: absolute;
width: 262px;
height: 32px;
left: 299px;
top: 36px;
color: #ffff;
}
.red{
    color: #A92A1D;
}
.right-nav {
    display: flex;
    align-items: center;
    position: absolute;
    left: 922px;
}
  
.nav-links a {
    text-decoration: none;
    color: #FFFFFF;
}

.nav-links a:hover {
    text-shadow: 0px 0px 20px #A92A1D;
    color: #A92A1D;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 63px;
    margin-right: 40px;
}

.red-button {
    background-color: #A92A1D;
    color: #FFFFFF;
    padding: 9px 24px;
    border: 0;
    font-size: 16px;
    font-weight: 100;
}

.red-button:hover {
    box-shadow: 0px 0px 10px #A92A1D;
    text-shadow: 0 0 20px #FFFFFF;
}

.red-button:active {
    background-color: #611a12;
}
.nav-menu{
    width: 0;
    overflow: hidden;
}